$background-light: rgba(255, 255, 255, 0.75);

$primary-backgroundcolor: #dadada;
$secondary-backgroundcolor: #c5c5c3;

$primary-color: #e2a837;
$secondary-color: #591109;
$tertiary-color: #a9783d;
$quaternary-color: #cbc9c5;
$quinary-color: #d2cec7;
$senary-color: #c0b1b0;
$septenary-color: #cfc2b3;
$octonary-color: #908673;
